body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
btn, input {
    vertical-align:middle;
 }
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.footer-light {
    background-color: #edf1f4c1; /* Adjust the color value to your preference */
}
.slim-footer {
    padding-top: 1px;
    padding-bottom: 1px;
}

#statsTable {
    display: none;
}
#statsTable {
    width: 100%;
    margin: 20px auto;
}
#statsTable td {
    max-width: 150px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#statsTable td:nth-child(1) {
    max-width: 100px;
}

#statsTable2 {
    display: none;
}
#statsTable2 {
    width: 100%;
    margin: 20px auto;
}
#statsTable2 td {
    max-width: 150px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#statsTable2 td:nth-child(1) {
    max-width: 50px;
}
#left-stats-table,
#right-stats-table {
    width: 100%;
}
.stats-table {
    font-size: 14px; /* Adjust font size here */
    width: 100%;
    border-collapse: collapse;
}
.stats-table th,
.stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.stats-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.stats-table tr:hover {
    background-color: #ddd;
    min-height: 30px; /* Adjust the minimum height here */
}
.stats-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7282e8;
    color: white;
}
.subtitle-stats {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2518db;
    color: #FFFFFF;
    text-align: center;
}

/* Responsive font size */
@media screen and (max-width: 768px) {
    .stats-table td,
    .stats-table th {
        font-size: 11px;
    }
    th {
        white-space: normal !important;
    }
    .table-responsive {
        margin-right: 2px;
    }
}

/* Your current CSS */

/* Add this media query */
@media screen and (max-width: 768px) {
    .game-data-table td,
    .game-data-table th {
        font-size: 11px;
    }
    th {
        white-space: normal !important;
    }
    .game-data-table {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.game-data-table {
    font-size: 14px;
}

/* Responsive table */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
/* Add this to your CSS file or inside a <style> tag */
@media screen and (max-width: 768px) {
    th {
        white-space: normal !important;
    }
}

.custom-form-check {
    width: 250px; /* Adjust this value to the desired width */
}

.custom-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerListTable {
    font-size: 0.9em;
    width: 100%;
}

#playerListTable th {
    cursor: pointer;
}

#playerListTable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playerListTable .team-column {
    width: 25%;
}

#playerListTable .tier-column {
    width: 20%;
}

#playerListTable .id-column {
    width: 30%;
}

#playerListTable .race-column {
    width: 25%;
}

.player-list-table {
    max-width: 800px; /* Adjust this value to your desired max-width */
    margin: auto;
}

.chart-container {
    position: relative;
    height: 50vh;
    width: 100%;
}

.visitor-stats {
    font-size: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
}

.table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-responsive {
    flex: 1;
    margin-right: 5px;
}

.table-responsive:last-child {
    margin-right: 0;
}

.footer {
    background-color: #f8f9fa;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-wrap {
    white-space: nowrap;
}

footer i {
    margin-right: 5px;
    color: #ff6347; /* You can choose any color you like */
}

.buymeacoffee-container {
    height: 40px; /* Change the height as needed */
}
.buymeacoffee-container img {
    height: 100%;
    width: auto;
}

.grey-color {
    color: grey;
}

.kakao-pay-container {
    display: inline-flex;
    align-items: center;
}

#kakaoPayIcon {
    max-height: 60px;
    margin-right: 5px;
}

#kakaoPayModal .modal-dialog {
    max-width: 90%;
    max-height: 90%;
}

#kakaoPayModal .modal-body img {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    #kakaoPayModal .modal-dialog {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    #kakaoPayModal .modal-dialog {
        max-width: 30%;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; /* Adjust this value as needed */
}

.center {
    text-align: center;
  }
  
.center iframe {
    display: block;
    margin: 0 auto;
}
  
#videoGallerySection {
    padding-top: 20px;
    padding-bottom: 20px;
}